@charset "UTF-8";

#header{
		width:1920px;
		height:180px;
	}
	
	#section{
   	    display: flex;
   	    justify-content:center;
   	    align-itmes:center;
   	    border : solid 1px gray;
   	}
   	
   	#registForm{
            display: flex;
            justify-content:center;
            align-items: center;  
    }
   	
   	#registFieldSet{
            width: 300px;
    }
    
    #registTable{
            margin-top: 80px;
            margin-bottom: 80px;            
    }
        
    .pdlTd{
            padding-left: 20px;            
     }

     .pdlTd2{
            padding-left: 20px;
     }

     #registTable td{
            padding-bottom: 20px;
     }
        
     #buttonTd{
            text-align: center;
     }